/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #4654C1 !important;
  color: white !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  color: white;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/** Home Css **/



/** Navbar Css **/
.navbar {
  background-color: #4654C1;
  color: white;
}
.logo {
  max-height: 100%;
}
.nav-link:hover {
  text-decoration: underline;
}
.homebody .text-block{
  padding-left: 20vw;
}
.home-button {
  background-color: #F77B63 !important;
}


